version: '3.8'

services:
  insure-premium-service:
    build: ./insure-premium-service
    container_name: insure-premium-service
    ports:
      - "8081:8081"  
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://172.19.0.1:5432/postgres
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=posW5d
    networks:
      - insure-net
    depends_on:
      db:
        condition: service_healthy
    stdin_open: true
    tty: true
    command: [ "sh", "-c", "mvn clean package && java -jar /target/InsurePremiumApplication.jar && tail -f /dev/null" ]

  premium-calculator:
    build: ./premium-calculator
    container_name: premium-calculator
    networks:
      insure-net:
        ipv4_address: 172.19.0.2
    ports:
      - "8080:8080"  
    command: [ "sh", "-c", "mvn clean package && java -jar /target/PremiumCalculatorApplication.jar" ]

  db:
    image: postgres:latest
    container_name: postgres-container
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=posW5d
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./coding-challenge/insure-premium-service/src/main/resources/liquibase:/docker-entrypoint-initdb.d
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 10s
      retries: 5
      start_period: 10s
    networks:
      insure-net:
        ipv4_address: 172.19.0.1

volumes:
  pgdata:

networks:
  insure-net:
    driver: bridge
    ipam:
      config:
        - subnet: "172.19.0.0/16"
          gateway: "172.19.0.1"
